# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\School 2\web development\klachtverwerking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
